.house {
    padding-top: 5%;
    display: flex;
    justify-content: flex-start;

}
.housepic {
    padding-left:20% ;
    height: 180px;
}
.htext {
    padding-left: 3%;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Noto Sans CJK TC;
    color: #444059;
    opacity: 1;

    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
}

.name {
    font-weight: bold;
    font-size: x-large;
}

.com {
    display: flex;
    justify-content: flex-start;
}

.ping {
    margin-left: 3%;
}

.floor {
    margin-left: 3%;
}

.number {
    font-size: xx-large;
    color: #F2A057;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 20%;

}

/*.unlike {*/
/*	font-size: 20px;*/
/*	border: 0;*/
/*	padding: 0;*/
/*    outline: none!important;*/
/*    background: transparent;*/
/*}*/
/*.unlike:hover {*/
/*	color: #EA4335;*/
/*	opacity: 70%;*/
/*}*/
/*.like {*/
/*    font-size: 20px;*/
/*	border: 0;*/
/*	padding: 0;*/
/*    color: red;*/
/*    background: transparent;*/
/*}*/
.heart{
    width: 20px;
}
.info {
    border: 0;
    border: 3px solid #F2A057;
    width: 130px;
    height: 44px;
    background-color: white;
    border-radius: 10px;
    color: #F2A057;
}


