.house {
    padding-top: 5%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}


.housepic {
    padding-left:20% ;
    weight: 240px;
    height: 180px;
}


.htext {
    margin-left: 5%;
    margin-right: 10%;
    flex-direction: column;
    justify-content: space-around;
    font-family: Noto Sans CJK TC;
    color: #444059;
    opacity: 1;
}

.name {
    font-weight: bold;
    font-size: x-large;
}

.com {
    display: flex;
    flex-direction: row;

}

.ping {
    margin-left: 10%;
}

.floor {
    margin-left: 10%;
}

.number {
    font-size: xx-large;
    color: #F2A057;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.heart {
    width: 20px;
}

.info {
    border: 0;
    border: 3px solid #F2A057;
    width: 130px;
    height: 44px;
    background-color: white;
    border-radius: 10px;
    color: #F2A057;
}

