{% extends 'master.html' %}
{% block script %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static "css/dashboard.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

{% endblock %}
{% block title %}
    Dashboard
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="top row justify-content-between">
            <div class="col area">
                <div class="row m-0 areaRow justify-content-between">
                    <h3 class="word col-5" >
                        您現在查看行政區
                    </h3>
                    <label class="col">
                        <select class=" county">
                            <option selected value="">台北市</option>
                        </select>
                    </label>
                    <label class="col">
                        <select class="district">
                            <option selected value="">大安區</option>
                        </select>
                    </label>
                </div>
                <div class="row m-0 areaData justify-content-between">
                    <div class="col-4 successData numberData text-center">
                        933
                    </div>
                    <div class=" col separate align-self-center">
                    </div>
                    <div class="col waitingData numberData text-center">
                        1,798
                    </div>
                    <div class="col separate align-self-center">
                    </div>
                    <div class="col applyingData numberData text-center">
                        2,000
                    </div>
                </div>
                <div class="row m-0 areaTitle justify-content-between">
                    <div class="col successTitle text-center title">
                        <h5>成功媒合件數</h5>
                    </div>
                    <div class="col waitingTitle text-center title">
                        <h5>位長者等待中</h5>
                    </div>
                    <div class="col applyingTitle text-center title">
                        <h5>位租屋族申請中</h5>
                    </div>

                </div>
            </div>
            <div class="col percent">
                <div class="subtitle-wrapper">
                    <div class="word">
                        獨居長者、租屋者占比
                    </div>
                </div>
                <div class="donutChart">
                    <div class="singleOldPercent">62%</div>
                    <div class="singleRentPercent">38%</div>
                    <div class="singleOld-wrapper">
                        <canvas id="singleOld" class=""></canvas>
                    </div>
                    <div class="rentPercent-wrapper ">
                        <canvas id="rentPercent" class=""></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row middle">
        </div>
        <div class="bottom row justify-content-between">
            <div class="col bar">
                <div class="subtitle-wrapper">
                    <h3 class="word">獨居長者、租屋族人數</h3>
                </div>
                <div class="barChart-wrapper">
                    <canvas id="barChart"></canvas>
                </div>

            </div>
            <div class="map col align-self-end">
                <img src="../static/img/NoPath.png">
            </div>

        </div>


    </div>

    <script src="{%  static "js/dashboard.js" %}"> </script>



{% endblock %}