{% extends 'master.html' %}
{% block title %}家有一寶{% endblock %}
{% block content %}
    {#    <a href=" {% url 'redirect' %}">redirect</a>#}


    <div class="bg" style="position: fixed;z-index: -999;height: 100%;width: 100%;">
        <img src= "https://www.itseed.tw/images/index/banner2020.png" style="height: 100%; width:100%; opacity: 0.3; position: relative; z-index:-999"  alt="">
    </div>
    <div style="height: 100%; width:100%;">
        <div style="position: relative; z-index: 1; text-align:center;height:150px; line-height:550px   ;" >
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
            <button type="button" class="btn btn-secondary btn-lg">Large button</button>
        </div>
    </div>

{% endblock %}