<!DOCTYPE html>
{% extends 'master.html' %}
{% block title %}search{% endblock %}

{% block script %}
    <script src="/static/js/search.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}
{% block content %}
    <div class=search>
        <div class="house1">
            <img class="house1pic" src="/static/img/house1.png" alt="">
            <div class="htext">
                <p class="name">近中正紀念堂舒適套房</p>
                <p class="address">台北市中政區中山南路...</p>
                <p class="com">
                    <span class="class">獨立套房</span>
                    <span class="ping">8坪</span>
                    <span class="floor">樓層：4/5</span>
                </p>
                <p class="money">
                    <span class="number">3,500</span>
                    <span class="unit">元/月</span>
                </p>
            </div>
            <div class="button1">
                <img class="heart" src="/static/img/heart.png" alt="">
                <button class="info">詳細屋況</button>
            </div>
        </div>
    </div>
{% endblock %}