<!DOCTYPE html>
{% extends 'master.html' %}
{% block title %}search{% endblock %}

{% block script %}
    <script src="/static/js/search.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}
{% block content %}

    <div class=search>
        {% for house in houses %}
        <div class="house">
            <img class="housepic" src="/media/{{ house.hPic }}"></img>
            <div class="htext">
                <p class="name">{{ house.hName }}</p>
                <p class="address">{{ house.hAddress }}</p>
                <p class="com">
                    <span class="class">{{ house.hClass }}</span>
                    <span class="ping">{{ house.hPing }}坪</span>
                    <span class="floor">樓層：{{ house.hFloor }}/{{ house.hFloorAll }}</span>
                </p>
                <p class="money">
                    <span class="number">{{ house.hMoney }}</span>
                    <span class="unit">元/月</span>
                </p>
            </div>
            <div class="button">
                <img class="heart" src="/static/img/heart.png" alt="">
                <button class="info" onclick="javascript:location.href='/houseDetail/{{ house.id }}'">詳細屋況</button>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}